<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update Beneficiary</title>
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
	<h1 class="display-4 text-center">Update Existing beneficiary</h1>s
	<div class="row justify-content-center align-items-center">
		<div class="text-primary">
			<form action="#" th:action="@{/keep}" th:object=${object} method="post">
				<div class="form-group">
					<label for="name">Enter the beneficiary name: </label>
					<input type="text" th:field="*{name}" placeholder="Beneficiary name" class="form-control">
				</div>
				<div class="form-group">
					<label for="accountNumber">Enter the beneficiary account number: </label>
					<input type="text" th:field="*{number}" placeholder="Beneficiary account number" class="form-control" value="${accountNumber}">
				</div>
				<div class="form-group">
					<label for="ifsc">Enter the beneficiary ifsc: </label>
					<input type="text" th:field="*{ifsc}" placeholder="Beneficiary ifsc code" class="form-control" value="${ifsc}">
				</div>
				<div class="form-group">
					<label for="bank">Enter the beneficiary bank: </label>
					<input type="text" th:field="*{bank}" placeholder="Beneficiary bank" class="form-control" value="${bank}">
				</div>
				<div>
					<button class="btn btn-outline-primary">Update</button>
					<button class="btn btn-outline-danger">Reset</button>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>